/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-flow {
  background: #529ba8;
  height: 80vh;
  width: 100vw;
}
.react-flow .react-flow__handle {
  width: 3em;
  height: 3em;
  border-radius: 3px;
}

.react-flow .react-flow__edge path {
  stroke: #fff;
  stroke-width: 10px;
}
